/* reset de configurações padrões do navegador */
* {
    margin: 0;
    padding: 0;
    font-family: Outfit, Arial, Helvetica, sans-serif;
}

body{
    background-color: #FEE7D6;
}

h1, h2, h3, h4, h5{
    color: #4D272D;
}

p, label {
    color: #4D272D;
}

input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"], input[type="number"],
input[type="date"], input[type="file"], textarea {
    box-sizing: border-box;
    width: 400px;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 5px;
}

textarea{
    padding: 10px 5px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* page header */
.header{
    margin: 0 5px 0 5px;
    border-radius: 0 0 30px 30px;
    height: 130px;
    padding: 20px;
    background-color: #F85575;
}

/* Form container */
.form-container{
    background-color: #FBFBFA;
    width: 970px;
    margin: 0 auto;
    position: relative;
    top: -62px;
    border-radius: 20px;
}

/* form-header */
.form-header{
    border-bottom: 1px solid #DFDFDF;
    height: 45px;
}

.form-header p{
    color: #4D272D;
    border-bottom: 2px solid #4D272D;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
    height: 45px;
    line-height: 45px;
}

.form-body{
    padding: 30px;
}

.form-title{
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.required-field{
    color: #d80835
}

.box-input{
    margin-bottom: 35px;
}

#inperson-label{
    margin-right: 20px;
}

#delivery-label{
    margin-right: 20px;
}

.block{
    display: block;
}

.flavours-box{
    display: inline-block;
    margin: 0 30px 30px 0;
}

.flavours-list li{
    list-style: none;
    margin-bottom: 5px;
    box-sizing: content-box;
}

.box-input p {
    margin-bottom: 15px;
}

.btn-submit{
    background-color: #F85575;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-reset{
    background-color: #ffffff;
    color: #F85575;
    border: 2px solid #F85575;
    width: 150px;
    height: 50px;
    position: relative;
    left: 600px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}


.btn-submit:hover{
    background-color: #FBFBFA;
    border-color: #F85575;
    color: #F85575;
    font-weight: 600;
}

.btn-reset:hover{
    background-color: #F85575;
    border: 2px solid transparent;
    color: #ffffff;
    font-weight: 600;  
}

input:focus, textarea:focus, input[type="radio"]:focus {
    outline: none; /* Remove o contorno padrão do navegador */
    border: 2px solid #4D272D; /* Define a cor da borda quando selecionado */
}

@media (max-width: 768px) {
    .form-container {
        width: 95%;
        padding: 15px;
    }
    
    .flavours-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .flavours-list li {
        width: 50%;
    }

    .btn-reset{
        position: relative;
        left: 370px;
    }
}

@media (max-width: 480px) {
    .header {
        width: 100%;
        height: 100px;
        padding: 30px 0 0 0;
        margin: 5px 0 0 0;
        border-radius: 10px;
    }
    
    .form-body {
        padding: 10px;
    }
    
    .btn-submit, .btn-reset {
        max-width: 100%;
    }

    .btn-reset{
        position: relative;
        left: 85px;
    }
}

@media (max-width: 480px) {
    * {
        padding: 0;
        margin: 0;
    }

    .header {
        height: 100px;
        border-radius: 5px;
    }
    
    .form-container {
        width: 90%;
        padding: 10px;
    }
    
    .form-body {
        padding: 5px;
    }
    
    input[type="text"], input[type="number"],
    input[type="date"], input[type="file"], textarea {
        max-width: 100%;
    }
    
    .btn-submit, .btn-reset {
        max-width: 35%;
        height: 50px;
        font-size: 14px;
    }

    .btn-reset{
        position: relative;
        left: 70px;
    }
}
